<!DOCTYPE html>
<html>
<head>
	<title>Directorio Telefónico</title>
	<link rel="icon" href="logo.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body id="app">
	<nav class="navbar navbar-inverse  navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Directorio Telefonico" src="logo.png" class="img-responsive" style="width:20px; height:20px;">
				</a>
			</div>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Directorio Telefonico</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!--<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>-->
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>-->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<list-contacts v-bind:contacts="contacts" />
	</div>
	<template id="listContacts">
		<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Agregar Contacto</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<span>Nombre: </span>
							<input type="text" v-model="newContact.nombre" class="form-control">
							<span>Correo: </span>
							<input type="text" v-model="newContact.correo" class="form-control">
							<span>Telefono: </span>
							<input type="text" v-model="newContact.telefono" class="form-control">
							<span>Paginaweb: </span>
							<input type="text" v-model="newContact.paginaweb" class="form-control">
							<span>Empresa: </span>
							<input type="text" v-model="newContact.empresa" class="form-control">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary"  v-if="newContact!=null" v-on:click="createContact(lastID)">Agregar contacto</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="max-height:550px;overflow-y:scroll;">
				<div class="panel panel-default">
					<div class="panel-heading">
						Contactos <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#myModal">Agregar</button>
					</div>
					<div class="form-group" style="margin:5px;">
						<input type="text" class="form-control" v-model="searchString">
					</div>
					<div class="panel-body" style="padding:1px !important;">
						<div class="list-group" style="margin:0px;">
							<a v-on:click="readContact(contact)" class="list-group-item" v-for="contact in filteredContacts">
								<h4 class="list-group-item-heading">{{contact.nombre}}</h4>
								<p class="list-group-item-text">
									<button v-on:click="deleteContact($index)">X</button>
									<i>{{contact.correo}}</i>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8" v-if="contactSelected!=null">
				<div class="row">
					<div class="col-md-6">
						<img src="http://visualoop.com/wp-content/themes/visualoop/img/there-is-no-picture-for-this-user2.png" class="img-responsive" style="margin: 0 auto;">
						<h2 class="text-center">{{contactSelected.nombre}}</h2>
						<ul class="list-group">
							<li class="list-group-item">{{contactSelected.correo}}</li>
							<li class="list-group-item">{{contactSelected.telefono}}</li>
							<li class="list-group-item">{{contactSelected.paginaweb}}</li>
							<li class="list-group-item">{{contactSelected.empresa}}</li>
						</ul>
					</div>
					<div class="col-md-6" style="max-height:550px;overflow-y:scroll;">
						<div v-if="contactSelected.publicaciones.length > 0">
							<div class="list-group">
								<div class="list-group-item" v-for="post in contactSelected.publicaciones">
									<h4 class="list-group-item-heading">{{ post.title }}</h4>
									<p class="list-group-item-text">
										{{post.body}}
									</p>
								</div>
							</div>
						</div>
						<div v-else>
							<fieldset>
								<legend>Post Not Found</legend>
								<p>El usuario no ha publicado nada</p>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8" v-else>
				<div class="jumbotron text-center">
					<img src="http://vue-newsletter.com/vue-newsletter.png" class="img-responsive">
					<h2>{{messagePrimary}}</h2>
					<p>Una simple aplicación con Vue.js, <br>usando <a target="_blank" class="label label-primary" href="http://getbootstrap.com/">Bootstrap</a> + <a target="_blank" class="label label-primary" href="https://www.npmjs.com/package/vue-resource">vue-resource</a> + <a target="_blank" class="label label-primary" href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a></p>
					<p>
						<a target="_blank" class="btn btn-success btn-lg" href="https://github.com/github-gabo/contacts-simple-app" role="button">Repositorio</a>
					</p>
				</div>
			</div>
		</div>
	</template>

	<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
	<script type="text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>